.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    max-width: 100%;
    gap: 20px;
    place-items: center;
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        text-align: center;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}