.card {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), .15);
    overflow: hidden;
    transition: background 200ms, border 200ms;
    max-width: 400px;
    font-size: .7rem;
    line-height: 1;
    padding-bottom: 10px;
}

.card span {
    margin: 0;
}

.card h2 {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}

.card p {
    margin-top: 5px;
    display: inline-block;
    opacity: .5;
}

.info {
    width: 100%;
    padding: 0 15px;
}

.price {
    opacity: .5;
}

.price::before {
    content: '\2022';
    padding: 0 5px;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
    }
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}